html {
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, p {
  text-shadow: 1px 1px #ffffff;
}

/************** Start header ****************/

.welcome-msg {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("coffee beans background image.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header {
  background-color: #7a5a00;
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  border: 0 0 1em 0;
  opacity: 0.9;
}

#JAVA-logo {
  width: 10%;
  display: inline-block;
  width: 5em;
  height: auto;
  align: left;
  margin: 0;
}

/********************* End header ****************/

/********************* Start username-bar ************/
.username-bar {
  width: 100%;
  margin-top: 5em;
}

.add-user-form {
  text-align: center;
}

/******************* End username-bar ***********/

#main {
  margin-top: 5em;
  display: flex;
  width: 90vw;
  height: 80vh;
}

/* change to class */
#shop-list-div, #reviews-div, #div-for-new-review {
  background-color: #f5f5dc;
  width: 30vw;
  height: 100vh;
  margin: 1em;

  display: table; 
  text-align: center;
}

.div-for-shop-list {
  background-color: #f5f5dc;
}

.div-for-comments {
  width: 10em;
  overflow: auto;
  display: table;
  background-color: #f5f5dc;
}

/****************** Forms input **********************/
input, #edit-shop-button {
  /* width: 80%; */
  padding: 0.5em 2em;
  margin: 0.25em 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 10px;
}

input {
  transition-timing-function: 0.4s ease-in;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.44s ease-in-out;
}

input:focus {
  width: 50%;
}

#username-bar:focus {
  width: 30%;
}

input[type=text]:hover {
  cursor: pointer;
}

input:hover, #edit-shop-button:hover {
  cursor: pointer;
}

/****************** Forms input end ***********************/

/******************** Shop list buttons ********************/

.shop-button {
  width: inherit;
  height: 4em;
  padding: 2em;
  background-color: #d9b38c;
  font-size: 1em;
  margin: 1vh;
  border: 2px solid gray;
  border-radius: 25px;
  transition: all 0.5s;
}

.shop-button:hover, button:hover {
  background-color: white;
  cursor: pointer;
}


.shop-button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.shop-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.shop-button:hover span {
  padding-right: 25px;
}

.shop-button:hover span:after {
  opacity: 1;
  right: 0;
}

/******************** Shop list buttons end ********************/

.shop-img {
  max-width: 100%;
  height: auto;
}

.review-card {
  background-color: #d9b38c;
  margin: 10px 10px 10px 10px;
}

.user-review-card {
  background-color: #d9b38c;
  margin: 10px 10px 10px 10px;
}
